body {
    margin: 0;
    padding: 36px;
    font-family: 'KTF Ekran', -apple-system, system-ui;
    font-feature-settings: "ss03", "ss07", "ss11";
    font-size: 120px;
    text-align: center;
    background: grey;
    color: white;
    -webkit-font-smoothing: antialiased;
    /*font-weight: bold;*/
    /*letter-spacing: -0.03em;*/
    /*line-height: 100%;*/
}

#root {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

@keyframes rainbow-text {
    0% {
        color: #e87d7d;
    }
    2% {
        color: #e88a7d;
    }
    4% {
        color: #e8977d;
    }
    6% {
        color: #e8a47d;
    }
    8% {
        color: #e8b07d;
    }
    10% {
        color: #e8bd7d;
    }
    12% {
        color: #e8ca7d;
    }
    14% {
        color: #e8d77d;
    }
    16% {
        color: #e8e47d;
    }
    18% {
        color: #dfe87d;
    }
    20% {
        color: #d3e87d;
    }
    22% {
        color: #c6e87d;
    }
    24% {
        color: #b9e87d;
    }
    26% {
        color: #ace87d;
    }
    28% {
        color: #9fe87d;
    }
    30% {
        color: #92e87d;
    }
    32% {
        color: #86e87d;
    }
    34% {
        color: #7de881;
    }
    36% {
        color: #7de88e;
    }
    38% {
        color: #7de89b;
    }
    40% {
        color: #7de8a8;
    }
    42% {
        color: #7de8b5;
    }
    44% {
        color: #7de8c1;
    }
    46% {
        color: #7de8ce;
    }
    48% {
        color: #7de8db;
    }
    50% {
        color: #7de8e8;
    }
    52% {
        color: #7ddbe8;
    }
    54% {
        color: #7dcee8;
    }
    56% {
        color: #7dc1e8;
    }
    58% {
        color: #7db5e8;
    }
    60% {
        color: #7da8e8;
    }
    62% {
        color: #7d9be8;
    }
    64% {
        color: #7d8ee8;
    }
    66% {
        color: #7d81e8;
    }
    68% {
        color: #867de8;
    }
    70% {
        color: #927de8;
    }
    72% {
        color: #9f7de8;
    }
    74% {
        color: #ac7de8;
    }
    76% {
        color: #b97de8;
    }
    78% {
        color: #c67de8;
    }
    80% {
        color: #d37de8;
    }
    82% {
        color: #df7de8;
    }
    84% {
        color: #e87de4;
    }
    86% {
        color: #e87dd7;
    }
    88% {
        color: #e87dca;
    }
    90% {
        color: #e87dbd;
    }
    92% {
        color: #e87db0;
    }
    94% {
        color: #e87da4;
    }
    96% {
        color: #e87d97;
    }
    98% {
        color: #e87d8a;
    }
    100% {
        color: #e87d7d;
    }
}

@keyframes rainbow-shadow {
    0% {
        box-shadow: 0px 0px 24px 12px #e87d7d;
    }
    2% {
        box-shadow: 0px 0px 24px 12px #e88a7d;
    }
    4% {
        box-shadow: 0px 0px 24px 12px #e8977d;
    }
    6% {
        box-shadow: 0px 0px 24px 12px #e8a47d;
    }
    8% {
        box-shadow: 0px 0px 24px 12px #e8b07d;
    }
    10% {
        box-shadow: 0px 0px 24px 12px #e8bd7d;
    }
    12% {
        box-shadow: 0px 0px 24px 12px #e8ca7d;
    }
    14% {
        box-shadow: 0px 0px 24px 12px #e8d77d;
    }
    16% {
        box-shadow: 0px 0px 24px 12px #e8e47d;
    }
    18% {
        box-shadow: 0px 0px 24px 12px #dfe87d;
    }
    20% {
        box-shadow: 0px 0px 24px 12px #d3e87d;
    }
    22% {
        box-shadow: 0px 0px 24px 12px #c6e87d;
    }
    24% {
        box-shadow: 0px 0px 24px 12px #b9e87d;
    }
    26% {
        box-shadow: 0px 0px 24px 12px #ace87d;
    }
    28% {
        box-shadow: 0px 0px 24px 12px #9fe87d;
    }
    30% {
        box-shadow: 0px 0px 24px 12px #92e87d;
    }
    32% {
        box-shadow: 0px 0px 24px 12px #86e87d;
    }
    34% {
        box-shadow: 0px 0px 24px 12px #7de881;
    }
    36% {
        box-shadow: 0px 0px 24px 12px #7de88e;
    }
    38% {
        box-shadow: 0px 0px 24px 12px #7de89b;
    }
    40% {
        box-shadow: 0px 0px 24px 12px #7de8a8;
    }
    42% {
        box-shadow: 0px 0px 24px 12px #7de8b5;
    }
    44% {
        box-shadow: 0px 0px 24px 12px #7de8c1;
    }
    46% {
        box-shadow: 0px 0px 24px 12px #7de8ce;
    }
    48% {
        box-shadow: 0px 0px 24px 12px #7de8db;
    }
    50% {
        box-shadow: 0px 0px 24px 12px #7de8e8;
    }
    52% {
        box-shadow: 0px 0px 24px 12px #7ddbe8;
    }
    54% {
        box-shadow: 0px 0px 24px 12px #7dcee8;
    }
    56% {
        box-shadow: 0px 0px 24px 12px #7dc1e8;
    }
    58% {
        box-shadow: 0px 0px 24px 12px #7db5e8;
    }
    60% {
        box-shadow: 0px 0px 24px 12px #7da8e8;
    }
    62% {
        box-shadow: 0px 0px 24px 12px #7d9be8;
    }
    64% {
        box-shadow: 0px 0px 24px 12px #7d8ee8;
    }
    66% {
        box-shadow: 0px 0px 24px 12px #7d81e8;
    }
    68% {
        box-shadow: 0px 0px 24px 12px #867de8;
    }
    70% {
        box-shadow: 0px 0px 24px 12px #927de8;
    }
    72% {
        box-shadow: 0px 0px 24px 12px #9f7de8;
    }
    74% {
        box-shadow: 0px 0px 24px 12px #ac7de8;
    }
    76% {
        box-shadow: 0px 0px 24px 12px #b97de8;
    }
    78% {
        box-shadow: 0px 0px 24px 12px #c67de8;
    }
    80% {
        box-shadow: 0px 0px 24px 12px #d37de8;
    }
    82% {
        box-shadow: 0px 0px 24px 12px #df7de8;
    }
    84% {
        box-shadow: 0px 0px 24px 12px #e87de4;
    }
    86% {
        box-shadow: 0px 0px 24px 12px #e87dd7;
    }
    88% {
        box-shadow: 0px 0px 24px 12px #e87dca;
    }
    90% {
        box-shadow: 0px 0px 24px 12px #e87dbd;
    }
    92% {
        box-shadow: 0px 0px 24px 12px #e87db0;
    }
    94% {
        box-shadow: 0px 0px 24px 12px #e87da4;
    }
    96% {
        box-shadow: 0px 0px 24px 12px #e87d97;
    }
    98% {
        box-shadow: 0px 0px 24px 12px #e87d8a;
    }
    100% {
        box-shadow: 0px 0px 24px 12px #e87d7d;
    }
}

.robocorn {
    animation: rainbow-text 3s infinite;
}

.restart {
    font-size: 24px;
    padding: 24px 48px;
    background: white;
    color: grey;
    border-radius: 100px;
    animation: rainbow-shadow 3s infinite;
    cursor: pointer;
    transition: all 1s linear;
}

.restart:hover {
    animation: rainbow-text 3s infinite;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
}

